:root {
  --primary-color: #222222;
  --secondary-color: #df007a;
  --border-width: 3px;
  --about-me-background: #111111;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 a {
  vertical-align: middle;
}

ul {
  align-items: center;
}

header > * {
  color: #fff;
}

header {
  padding: 20px;
  justify-content: space-between;
  background-color: var(--primary-color);
}

header h1 {
  padding-left: 12px;
  border-left: var(--secondary-color) solid var(--border-width);
}

header, ul {
  display: flex;
}

header ul li {
  padding: 5px 0px;
  margin: 10px;
  border-bottom: var(--primary-color) solid var(--border-width);
}

header ul li:hover {
  cursor: pointer;
}

.active {
  border-bottom: var(--secondary-color) solid var(--border-width);
}